<h1>Article Details page</h1>

<p><strong>Title :</strong><%= @article.title %></p>
<p><strong>Description :</strong><%= @article.description %></p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= button_to 'delete', article_path(@article), method: :delete %>
<p><%= link_to 'return to article listing', articles_path %></p>
